:root{
    --p-font:   'Lato', sans-serif; 
    --s-font:   'Open Sans', sans-serif;
    --t-font:   'Raleway', sans-serif;
    --e-font:   'Permanent Marker', cursive;


    --darker: #005555;
    --dark: #069A8E;
    --light: #4FD3C4;
    --yellow: #F7FF93;
    --white: rgba(242, 242, 242);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

body{
    overflow: hidden;
    font-family: var(--p-font);
}

#logo-big{
    font-family: var(--e-font);
    font-size: 3.5rem;
    color: var(--darker);
}

.mainHeading{
}

#login-screen{
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content:space-evenly;
    height: 100vh;
}

.login-left{
    background-color: rgb(235, 235, 235);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-pic{
    width: 50%;
}
.login-text{
    font-size: 1.5rem;
    margin: 4rem 0 0 0;
    font-family: var(--t-font);
    color: var(--dark);
}

.login-text-1{
    opacity: 0.5;
}

.login-text-2{
    opacity: 0.75;
}

.login-text-3{
    opacity: 1;
}

.login-right{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(247, 247, 247);
}

.login-logo{
    padding: 12rem 6rem;
}

input:focus{
    outline: none;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-inputs{
    margin: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
}

.form-inputs input{
    width: 18rem;
    height: 3rem;
    padding: 0 2px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0 8px;
}


.form-inputs input:first-of-type{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-radius: 6px 6px 0 0; 
}

.form-inputs input:focus{
    transition: 0.2s all;
    border-bottom: 1px solid var(--darker);
}
.form-inputs input:last-of-type{
    border-top: 0;
    border-radius: 0 0 6px 6px; 
}

.form-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-buttons button{
    width: 30%;
    height: 9%;
    transition: all 0.3s;
    margin: 0 0 0.75rem 0;
    cursor: pointer;
}


.login-button{
    border: 1px solid var(--dark);
    background-color: var(--dark);
    color: white;
}

.login-button:hover{
    background-color: var(--white);
    color: var(--dark);
    box-shadow: 0px 1px 1px 1px #00555551;
}

.signup-button{
    border: 1px solid var(--dark);
    background-color: rgb(242, 242, 242);
    color: var(--dark);
}
.signup-button:hover{
    background-color: var(--dark);
    color: white;
    box-shadow: 0px 1px 1px 1px #00555551;
}







/* Index Page */

#landing{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
    background: rgb(229, 229, 229);
    
}




.landing-list{
    background: rgb(229, 229, 229);

}

.list-header{
    background: rgb(229, 229, 229);
    margin-bottom: 0;
    padding: 2% 1.5%;
}
    .list-date{
        opacity: 0.6;
        font-size: 1rem;
        margin: 2px 0 0 0;
    }


.list{
    padding: 1.5rem 0 0 0;
    background: rgb(229, 229, 229);
    width: 100%;
    height: 78vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;    

}

    
    
.listItem{
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin: 0 0 0.6rem 0;
    width: 99%;
    padding: 1.2% 0 1.2% 1%;
    background: rgb(245,245,245);
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 2.6px;    
    border-bottom: 1px solid var(--dark);
    cursor: pointer;
    transition: 0.1s all;
    border-radius: 2px 5px;
    font-family: var(--s-font);
    font-weight: 500;
}
.listItem:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;    
}

.listItem:first-of-type{
    margin: 0.6rem 0;
    
}

.listItem:last-of-type{
    margin: 0 0 2.5rem 0;
}

.listItem input{
    align-self: center;
}

input:checked + p{
    text-decoration: line-through;
}

input[type=checkbox]{
    transform: scale(1.4);
}

.listItem p{
    margin: 0 1rem;
}

#favoriteItem {
    margin: 0 2% 0 auto;
}
 
    #favoriteItem img{
        width: 42%;
        user-select: none;
    }


.add-item{
    margin-top: auto;
    display: flex;
    margin: 0.5%;
    padding-top: 8px;
}
.add-item input{
    width: 100%;
    margin: 0 5px 0 0;
    border: 0;
    border-bottom: 2px solid var(--dark);
    background-color: #4fd3c328;
    padding: 0 1%;
    border-radius: 10px 4px;
    font-size: 1rem;
    font-family: var(--s-font);
}

.add-item button{
    border-radius: 50%;
    padding: 0.1%;
    border: 0;
    outline: 0;
    background-color: #4fd3c348;
}

/* *\ */ /* *//**/
.landing-dashboard{
    padding: 3% 0;
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.dashboard-header{
    display: flex;
    font-size: 0.8rem;
    margin-top: 0.8rem;
    padding: 0.8rem 2rem 0.8rem 1rem;
    background-color: rgb(231, 231, 231);
    font-family: var(--s-font);
}
    .time{
        margin-left: auto;
        align-self: center;
    }

.dashboard-option{
    border-left: 3px solid white;
    font-family: var(--p-font);

}

.dashboard-option:hover{
    background: rgb(233, 232, 232);
}
.active-list{
    background: #069a8e18;
    border-left: 3px solid #005555;
}



.dashboard-option img{
    width: 25px;
}

.dashboard-option a{
    padding: 1.3rem 1.3rem 1.3rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}


/* i{
    color: red;
    border: 1px solid red;
    width: 200px;
    height: 200px;
} */







